{% include "ngs/header.html" %}

<h2>About Chef {{chef.user.username}}</h2>
<table>
  <tr>
    <td>Name</td><td>{{ chef.name }}</td>
  </tr>
  <tr>
    <td>About {{ chef.name }}</td><td>{{ chef.blurb }}</td>
  </tr>
  <tr>
    <td>Experience</td><td>{{ chef.experience }}</td>
  </tr>
  <tr>
    <td>Followers</td><td>{{ chef.count_followers }}</td>
  </tr>
</table>
{% if open_dish_posts %}
<h2>Available Dishes</h2>
  <table>
  {% for dish_post in open_dish_posts %}
    <tr>
      <td>
        <a href="/dishes/posts/{{ dish_post.id }}/">{{dish_post.dish.name}}</a>
      </td>
    </tr>
  {% endfor %}
  </table>
{% endif %}
{% if has_history %}
<a href="history/">History</a>
{% endif %}
