{% include "ngs/header.html" %}

<h2>{{ dish_post.dish.name }}</h2>
<p>{{ dish_post.dish.description }}</p>
<table>
  <tr>
    <td>Meal Time</td><td>{{dish_post.meal_time}}</td>
  </tr>
  <tr>
    <td>Serving Price</td><td>${{dish_post.price}}</td>
  </tr>
  <tr>
    <td>Max Servings</td><td>{{ dish_post.max_servings }}</td>
  </tr>
  <tr>
    <td>Servings ordered</td><td> {{ dish_post.servings_ordered }}
  </tr>
</table>
<a href="/dishes/posts/{{ dish_post.id }}/cancel/">Cancel post</a>
<a href="/dishes/posts/{{ dish_post.id }}/edit/">Edit post</a>

<h3>Orders</h3>
{% if orders %}
  {% for order in orders %}
    <table>
      <tr>
        <td>Diner</td><td>{{ order.diner.user.username }}</td>
      </tr>
      <tr>
        <td>Servings Ordered</td><td>{{ order.num_servings }}</td>
      </tr>
    </table>
    {% if order.status == Order.PENDING_FEEDBACK and not order.chef_rated %}
      <a href="/dishes/posts/manage/orders/{{ order.id }}/rate/">Rate diner</a>
    {% endif %}
  {% endfor %}
{% else %}
  <p>No orders have been placed for this dish post</p>
{% endif %}
