{% include "ngs/header.html" %}



<!--
MD JUST PUT THE STYLING SOMEWHERE ELSE
-->
<style>

a.Chef {
	color: blue;
	padding: 10px;
	font-size: 20px;
}

</style>

{% include "dishes/includes/google-maps-dish-posts.html" %}

{% if is_chef %}
<a class = "Chef" href="/dishes/posts/create/">Post a Dish</a><br>
{% endif %}
{% if user.is_authenticated %}
<a class = "Chef" href="/dishes/orders-requests/">Orders</a><br>
{% endif %}

<h2>Dish Posts</h2>
{% if dish_posts %}
  <ul>
    {% for dish_post in dish_posts %}
      <li>
        <a href="/dishes/posts/{{ dish_post.id }}/">{{dish_post.dish.name}}</a>
      </li>
    {% endfor %}
  </ul>
 
{% else %}
  <p>No Dish Posts are available.</p>
{% endif %}

 
