{% include "ngs/header.html" %}

<h2>Dish Requests</h2>
{% if dish_requests %}
  <ul>
    {% for dish_request in dish_requests %}
      <li>
        <a href="/dishes/requests/{{ dish_request.id }}/">{{dish_request.dish.name}}</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No Dish Requests are available.</p>
{% endif %}

{% if user.is_authenticated %}
<ul>
  <li>
    <a href="/dishes/requests/create/">Make a Request<a>
  </li>
  <li>
    <a href="/dishes/orders/">View Your Orders</a>
  </li>
   <li>
     <a href="{{ dish_request.id }}/edit"> Edit Request </a>
   </li>
</ul>
{% endif %}
