{% include "ngs/header.html" %}


{% if dish_requests %}
 {% include "dishes/includes/google-maps-requests-page.html" %}
 <!--  <ul>
    {% for dish_request in dish_requests %}
      <li>
        <a href="/dishes/requests/{{ dish_request.id }}/">{{dish_request.dish.name}}</a>
      </li>
    {% endfor %}
  </ul> -->
{% else %}
  <p>No Dish Requests are available.</p>
{% endif %}

{% if user.is_authenticated %}
<ul>
  <li>
    <a href="/dishes/requests/create/">Make a Request<a>
  </li>
  <li>
    <a href="/dishes/orders-requests/">View Your Orders</a>
  </li>
</ul>
{% endif %}

