{% include "ngs/header.html" %}

{% if user.is_authenticated %}
<h2>{{ user.username }} Account</h2>
<table>
  <tr>
    <td>Account Balance</td><td>{{ user.balance.amount | floatformat:2 }}</td>
  </tr>
</table>
<ul>
  <li>
    <a href="terminate/">Request account termination</a>
  </li>
  <li>
  {% if is_chef %}
    <a href="/dishes/chefs/{{ user.chef.id }}/edit/">Edit profile</a>
    <a href="/dishes/posts/manage/">Manage Posts</a>
  {% elif pending_requests %}
    <p>Your chef permissions request is pending</p>
  {% else %}
    <a href="request-chef-permissions/">Request Chefs Permissions</a>
  {% endif %}
  </li>
  <li>
    <a href="/dishes/orders-requests/">Orders and Requests</a>
  </li>
  <li>
    <a href="deposit/">Deposit</a>
  </li>
  <li>
    <a href="withdraw/">Withdraw</a>
  </li>
</ul>
{% else %}
<p>You don't have an account!</p>
{% endif %}
